body{
    background-color: #ffe6e6;
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 50px;
    background-color: #fff;
}